* {
    box-sizing: border-box;
}

body {
    background-color:white;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10 px;
    min-height: 100vh;
}
p {
    margin: 5px 0;
}
h2 {
    margin: 10px 0 20px;
    text-align: center;
}
input[type='checkbox'] {
    margin-right: 0;
}
.container {
    background-color: red;
    padding: 20px;
    width: 350px;
    max-width: 100%;
}

.result-container {
    background-color: red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 50px;
    width: 100%;
}

.result-container #result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
}
.result-container .btn {
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px; 
    height: 40px;
    width: 40px;
}
.btn {
    border: none;
    color: black;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 12px;
}
.btn-large {
    display: block;
    width: 100%;
}
.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}
